<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">


<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <header id="fh5co-header-section">
                <div class="container">
                    <div class="modal fade modalLogin text-center" id="modalLogin" role="dialog">
                        <div class="modal-dialog modal-login">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <img src="../assets/images/plurerIco.png" alt="Logo plurer" class="plurer-ico-32"/>
                                <span class="text-center">Faça seu login</span>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger msg-validacao-erro">
                                    <strong>Atenção!</strong><br> <span></span>
                                </div>
                                <form id="formLogin" action="/login" method="post">
                                    <input type="email" class="txt-login" name="txtEmailLogin" placeholder="Email" required/>
                                    <input type="password" class="txt-login" name="txtPasswordLogin" data-toggle="password" data-placement="before" placeholder="Senha" required/>
                                    <a href="" class="esqueci-senha">Esqueci minha senha</a>
                                    <div><input type="checkbox" name="permancerlogado"><span>Desejo permanecer logado</span></div>
                                </form>
                                <div class="text-center">
                                    <input type="submit" value="Entrar" class="btn btn-primary btn-login btn-modal" onclick="login();" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade modalLogin text-center" id="modalCadastro" role="dialog">
                        <div class="modal-dialog modal-login">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <img src="../assets/images/plurerIco.png" alt="Logo plurer" class="plurer-ico-32"/>
                                <span>Cadastre-se</span>

                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger msg-validacao-erro">
                                    <strong>Atenção!</strong><br> <span></span>
                                </div>
                                <div class="form-cadastro">
                                    <form id="formCadastro" method="post" action="/cadastrarUsuario">
                                        <input type="text" name="txtNomeCadastro" class="txt-login" placeholder="Nome" required autofocus/>
                                        <input type="email" name="txtEmailCadastro" class="txt-login" placeholder="Email" required/>
                                        <input type="password" name="txtSenhaCadastro" class="txt-login" placeholder="Senha" required/>
                                        <input type="password" class="txt-login" placeholder="Confirmação de Senha" required/>
                                    </form>
                                    <div class="text-center">
                                        <input type="submit" value="Cadastrar" onclick="cadastrar();" class="btn btn-primary btn-login" />
                                    </div>
                                </div>
                                <span>ou</span>
                                <div class="social-buttons">
                                    <a class="btn btn-block btn-social btn-facebook"><i class="fb"></i>
                                            <span class="fa fa-facebook"></span>Entre com seu Facebook
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                        <h1 id="fh5co-logo">
                            <a href="index.html"><img src="../assets/images/plurerIco.png" alt="Logo plurer" class="plurer-ico-48"/>Plurer</a>
                        </h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li><a href="bemvindo.html">Explore</a></li>
                                <li>
                                    <a href="services.html" class="fh5co-sub-ddown">Categorias</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="" target="_blank">Música</a></li>
                                        <li><a href="" target="_blank">Arte</a></li>
                                        <li><a href="" target="_blank">Culinária</a></li>
                                        <li><a href="" target="_blank">Tecnologia</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="fh5co-sub-ddown">Entrar</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="" target="_blank" data-toggle="modal" data-target="#modalLogin" onclick="abrirModalLogin();">Login</a></li>
                                        <li><a href="" target="_blank" data-toggle="modal" data-target="#modalCadastro" onclick="abrirModalCadastro();">Cadastre-se</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
        <!-- end:fh5co-header -->
        <aside id="fh5co-hero" class="js-fullheight">
            <div class="flexslider js-fullheight">
                <ul class="slides">
                    <li style="background-image: url(assets/images/slide_1.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h2>Mais de 60% de sucesso nos projetos cadastrados aqui</h2>
                                        <p><a href="#" class="btn btn-primary btn-outline">Explore</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(assets/images/slide_2.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h2>Pessoas conseguem realizam seus sonhos aqui.</h2>
                                        <p><a href="#" class="btn btn-primary btn-outline">Eu Quero!</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div id="fh5co-section">
            <div class="grid-project-section">
                <a href="#">
                    <img src="../assets/images/quadrinhos.jpg" alt="Project" class="img-responsive">
                    <div class="desc text-center">
                        <h2>Quadrinhos</h2>
                    </div>
                </a>
            </div>
            <div class="grid-project-section">
                <a href="#">
                    <img src="../assets/images/musicMean.jpg" alt="Project" class="img-responsive">
                    <div class="desc text-center">
                        <h2>Música</h2>
                    </div>
                </a>
            </div>
            <div class="grid-project-section">
                <a href="#">
                    <img src="../assets/images/burger.jpg" alt="Project" class="img-responsive">
                    <div class="desc text-center">
                        <h2>Culinária</h2>
                    </div>
                </a>
            </div>
        </div>
        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="section-title">Quem Somos</h3>
                            <p>Somos muito feras, melhores devs, queremos mudar economia do Brasil e ficar Ricos!</p>
                        </div>

                        <div class="col-md-3">
                            <h3 class="section-title">Mapa do Site</h3>
                            <ul>
                                <li><a href="#">Crie seu projeto</a></li>
                                <li><a href="#">Projetos</a></li>
                                <li><a href="#">Explore</a></li>
                                <li><a href="#">Quem somos</a></li>
                                <li><a href="#">Fale Conosco</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h3 class="section-title">Onde estamos</h3>
                            <ul class="contact-info">
                                <li><i class="icon-map2"></i>Av Interlagos 3501, São Paulo, Brazil</li>
                                <li><i class="icon-phone2"></i>+ 1235 2355 98</li>
                                <li><i class="icon-envelope2"></i><a href="#">contato@plurer.com</a></li>
                                <li><i class="icon-globe2"></i><a href="#">www.plurer.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="section-title">Fale Conosco</h3>
                            <form class="contact-form">
                                <div class="form-group">
                                    <label for="name" class="sr-only">Nome</label>
                                    <input type="name" class="form-control" id="name" placeholder="Nome">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="message" class="sr-only">Mensagem</label>
                                    <textarea class="form-control" id="message" rows="7" placeholder="Mensagem"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Enviar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row copy-right">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p class="fh5co-social-icons">
                                <a href="#"><i class="icon-twitter2"></i></a>
                                <a href="#"><i class="icon-facebook2"></i></a>
                                <a href="#"><i class="icon-instagram"></i></a>
                                <a href="#"><i class="icon-dribbble2"></i></a>
                                <a href="#"><i class="icon-youtube"></i></a>
                            </p>
                            <p>&copy; 2016 Free Html5 <a href="#">Plurer</a>. Todos direitos reservados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- END fh5co-page -->

</div>
<script src="inline.bundle.js"></script>
<script src="polyfills.bundle.js"></script>
<script src="styles.bundle.js"></script>
<script src="main.bundle.js"></script>
<router-outlet></router-outlet>